{% extends 'index_template.html' %}}

{% block content %}
    <h3>Авторизация</h3>
 <section >
     {{ message }}
    <form action="" method="post">
        <p><label for="username">Имя Пользователя:</label>
            <input type="text" name="username" maxlength="25" id="username" placeholder="имя">
        </p>
         <p><label for="pass1">Пароль:</label>
            <input type="password" name="pass1" maxlength="25" id="pass1">
        </p>

        <p><input type="submit" value="Войти"></p>
    </form>

</section>
{% endblock %}


{% block left %}
    <aside class="left">
    </aside>

{% endblock %}