{% extends 'index_template.html' %}}

{% block content %}
 <h2 style="text-align: center">Тема дипломной работы по Python разработке:</h2>
                <h4 style="text-align: center">"Анализ и сравнение написания web-приложений с использованием разных
                    фреймворков: Разработать простые веб-приложения с использованием Django, Flask и FastAPI,
                    провести их сравнение."</h4>
                <u><h2 style="text-align: center">фреймворк FastAPI</h2></u>
{% endblock %}



{% block left %}
    <aside class="left">
<!--        <span><i>Работает:</i> <b>{{user_name}}</b></span>-->


<!--                 <p><a href="/users/registr">Регистрация</a></p>-->
<!--            <p><a href="/users/login"><button class="button">Вход</button></a></p>-->

{% if request.cookies.get('user_id') %}
<span><i>Работает:</i> <b>{{request.cookies.get('user_name')}}</b></span>
   <p><a href="/users/logout"><button class="button">Выйти</button></a></p>

{% else %}

            <p><a href="/users/registr">Регистрация</a></p>
            <p><a href="/users/login"><button class="button">Вход</button></a></p>


{% endif %}



    </aside>

{% endblock %}